<ion-view title="{{ product.name }}">
	<ion-content>
		<div class="list card">
			<div class="item">
				<h2>{{ product.name }}</h2>
				<p>{{ product.price }} DT</p>
			</div>

			<div class="item item-body">
				<div class="item item-image">
					<img class="full-image" src="{{ product.image }}" width="100%" alt="{{ product.ref }}" style="max-width:200px;margin-bottom: 20px;"/> 
				</div>
			 	 
 				<p>
			      {{ product.description }}
			    </p>
			    <p>
			      <a href="#" class="subdued" ng-if="product.likes.length>1">{{product.likes.length}} Likes</a>
			      <a href="#" class="subdued" ng-if="product.likes.length<2">{{product.likes.length}} Like</a>
			      <a href="#" class="subdued" ng-if="product.dislikes.length>1">{{product.dislikes.length}} Dislikes</a>
			      <a href="#" class="subdued" ng-if="product.dislikes.length<2">{{product.dislikes.length}} Dislike</a>
			      <a href="#" class="subdued" ng-if="product.comments.length>1">{{product.comments.length}} Comments</a>
			      <a href="#" class="subdued" ng-if="product.comments.length<2">{{product.comments.length}} Comment</a>
			    </p>
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left " style="background-color:#FF695D;color:white;">
				<a class="tab-item" href="#" ng-click="Like()">
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a>
			    <a class="tab-item" href="#" ng-click="Dislike">
			      <i class="icon ion-thumbsdown"></i>
			      disLike
			    </a>
			    <a class="tab-item" href="#" ng-click="Comment">
			      <i class="icon ion-chatbox"></i>
			      Comment
			    </a>
			    <a class="tab-item" href="#" ng-click="addItem">
			      <i class="icon ion-android-cart"></i>
			      Add to list
			    </a>
			</div>
			<div class="item list">
				<a href="" class="item item-avatar" ng-repeat="comment in product.comments">
					<img src="{{comment.image}}">
					<h4 style="color:#BBB;">{{comment.timeStamp}}</h4>
					<h2>{{comment.name}}</h2>
					<p>{{comment.body}}</p>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>