<!--<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>-->

<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
          <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-gear" menu-toggle="right">
            </button>
          </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">myCatalogue</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.AllProducts" >Products</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.teams">Teams</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.shoppingList">Shopping list</ion-item>
        <ion-item item-icon-left nav-clear menu-close ui-sref="app.tabsLocations.map"><i class="icon ion-map" >  Supermarkets</i></ion-item>
        <ion-item item-icon-left nav-clear menu-close ui-sref="app.CodeBarScanner"> <i class="icon ion-qr-scanner" > BarCode Scanner</i>   </ion-item>
      </ion-list>
  </ion-side-menu>

  <ion-side-menu side="right" class="side-menu" slide-along offset="-15">
        <ion-header-bar class="bar-assertive">
          <h1 class="title">Settings</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="list" ng-controller="loginCtrl">
            <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
            <a href="#/event/check-in" ng-click="dologout()"class="item" menu-close>LogOut</a>
          </ul>
        </ion-content>
      </ion-side-menu>

</ion-side-menus>